<!doctype html>
<html>
<head>
    <title>Snap-Cycle</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <!-- <style>
    body{
      background-color: url("https://media.gettyimages.com/photos/bamboo-leaf-and-soft-green-bokeh-background-picture-id543804586?b=1&k=6&m=543804586&s=612x612&w=0&h=ip1ipjrSxcg9C4UdNCkbZg_MaCWpE_DyK-DdJESn2PQ=");
    }
    </style> -->
</head>
<body>
  <div class="header">
    <div id="banner"><img src="https://pbs.twimg.com/media/Di_BMy5UwAAJf3q.jpg" style="margin-bottom: 6px;"></div>
    <!-- <img src='/css/snapcycle.jpg'> -->
    <!-- <img id="logo" src="/css/snapcycle.jpg">  -->
  </div>
  <ul class="topnav" id="navbar" style="margin-top: 0px; margin-bottom: 0px; line-height: 1.2; font-family: times;">
    <li><a  href="/" href="javascript:void(0)">Home</a></li>
    <li><a href="/location" href="javascript:void(0)">Locations</a></li>
    <li><a href="/reviews" href="javascript:void(0)">Review</a></li>
    <li><a class="active" href="/aboutus" href="javascript:void(0)">About Us</a></li>




    <div class="search-container">
      <form method="POST" action="/searchresult">
          <input type="text" placeholder="Search for item.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
      </form>
  </div>
  </ul>
  <h2 style="font-weight: bold; font-size: 35pt; margin-top: 20px; color: green;"> Our Mission</h2>
    <p style="margin: 20px 50px 50px 50px;">Our mission is to help promote awareness about recycling and educate people on how to dispose of any item. Learning how to reduce, reuse, and recycle correctly are steps we can take to help make our Earth a greener, cleaner place.</p>
  </div>
  <h2 style="font-weight: bold; font-size: 35pt; margin-bottom: 30px; color: green;"> Meet the Creators!</h2>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <div class="w3-content">

  <div class="w3-row w3-margin">

  <div class="w3-third">
    <img src="/css/KayleyMarie_Ong.jpg" style="width:100%;min-height:200px">
  </div>
  <div class="w3-twothird w3-container">
    <h2 style="font-weight: bold;">Kayley Marie Ong </h2>

    <span style="font-weight: bold; font-size: 14pt;">Hometown: </span>Vallejo, CA
    <br>
    <span style="font-weight: bold; font-size: 14pt;">School: </span>California State Polytechnic University, Pomona
    <p>
    Kayley is from the San Francisco Bay Area, California and graduated from Jesse M. Bethel High School. Other than computers, Kayley is also interested in makeup and dogs, especially pugs. Kayley will be attending California State Polytechnic University, Pomona to study Computer Science and minor in Communications.
    </p>
  </div>

  </div>
  <div class="w3-row w3-margin">

  <div class="w3-third">
    <img src="/css/Carlos_Medrano.jpg" style="width:100%;min-height:200px">
  </div>
  <div class="w3-twothird w3-container">
    <h2 style="font-weight: bold;">Carlos Medrano</h2>

    <span style="font-weight: bold; font-size: 14pt;">Hometown: </span>Brooklyn, NY
    <br>
    <span style="font-weight: bold; font-size: 14pt;">School: </span>Tenessee Technological University
    <p>
      Carlos grew up in both New York and Tenessee and discovered his love for computers when he was extremely young. His interests vary, but they always return to experimenting on his Linux machine and coding. Aside from computers, reading and coffee are his biggest addictions; often wondering if the meaning of life is coffee, in addition to “42.”
Another fact about Carlos is that he is almost totally blind. His vision is limited to light, so he can’t really distinguish objects around him.
    </p>
  </div>

  </div>
  <div class="w3-row w3-margin">

  <div class="w3-third">
    <img src="/css/Hana_Tadesse.jpg" style="width:100%;min-height:200px">
  </div>
  <div class="w3-twothird w3-container">
    <h2 style="font-weight: bold;">Hana Tadesse</h2>
    <span style="font-weight: bold; font-size: 14pt;">Hometown: </span>Blaine, MN
    <br>
    <span style="font-weight: bold; font-size: 14pt;">School: </span>Stanford University
    <p>
      Hana was born and raised in Addis Ababa, Ethiopia before moving to Minnesota. She discoved her passion for Computer Science during an Introduction to Computer Programming class during her Sophomore year in high school. Hana plans to pursue a degree in Computer Science, with a focus on communication and security. She is particularly interested in exploring security practices in third world countries and in devising a way to provide proper security and equal protection rights to all people.
    </p>
  </div>
  <h2 style="font-weight: bold; font-size: 25pt; margin-top: 200px; color: green;"> Contact Us</h2>
    <p style="margin: 20px 50px 50px 50px;">Contact us at safecycle1@gmail.com with any questions or concerns.</p>
  </div>

  </div>
</div>
