<!doctype html>
<html>
<head>
    <title>Snap-Cycle</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="header">
    <div id="banner"><img src="https://pbs.twimg.com/media/Di_BMy5UwAAJf3q.jpg" id="myImage"></div>
    <!-- <img src='/css/snapcycle.jpg'> -->
    <!-- <img id="logo" src="/css/snapcycle.jpg">  -->
  </div>
  <ul class="topnav" id="navbar">
    <li><a  href="/" href="javascript:void(0)">Home</a></li>
    <li><a href="/location" href="javascript:void(0)">Locations</a></li>
    <li><a href="/reviews" href="javascript:void(0)">Review</a></li>
    <li><a class="active" href="/aboutus" href="javascript:void(0)">About Us</a></li>




    <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>

</ul>

<div>

</div>
