<!doctype html>
<html>
<head>
    <title>Snap-Cycle</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
</head>
<body>
  <div id="banner"><img src="https://pbs.twimg.com/media/Di_BMy5UwAAJf3q.jpg"></div>

  <ul class="topnav" id="navbar" style="margin-top: 0px; margin-bottom: 0px;">
    <li><a class="active" href="/" href="javascript:void(0)">Home</a></li>
    <li><a href="/location" href="javascript:void(0)">Locations</a></li>
    <li><a href="/reviews" href="javascript:void(0)">Review</a></li>
    <li><a href="/aboutus" href="javascript:void(0)">About Us</a></li>

    <div class="search-container">
    <form method="POST" action="/searchresult">
      <input type="text" placeholder="Search for item.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</ul>

  <div class="parallax"></div>
    <div class="content" style="background-color: #c5cddb; margin: 20px 20px 20px 20px;">
      <h2><font color="317c0c">What is Safe Cycle?</font></h2>
      <p class="index_paragraph" style="font-size: 20pt;">
         Safe Cycle serves as a guide to teach people the proper way to dispose of any item by reducing confusion about where certain items go. To get started, simply search an item in the search bar loacted on the top right of the page.
      </p>
    </div>

  <!-- <div class="parallax2"></div>
    <div class="content" style="text-align: right; width: 50%;">
      <h2><font color="317c0c">Our Mission</font></h2>
      <p class="index_paragraph">Our mission is to help promote awareness about recycling and educate people on how to dispose of any item. Learning how to reduce, reuse, and recycle correctly are steps we can take to help ake our Earth a greener, cleaner place.</p>
    </div> -->
    <div class="parallax2"></div>
    <div class="row" style="background-color: #c5cddb; margin: 20px 20px 20px 20px;">
    <div class="column" style="background-color: #c5cddb;">
      <h2 style="color: green; margin-top: 20px;">Why do we need to Recycle?</h2>
      <p style="margin: 30px 40px 20px 40px; float: center; font-size: 20pt;">
        <span> Recycling is important because extensive amounts of waste can have </span>
        <span style="font-weight: bold; font-size: 20pt;">  negative </span>
        <span>  impacts on our environment. In the recent years where recycling has become more prevalent, the US consistently ranks </span>
        <span style="font-weight: bold; font-size: 20pt;"> last </span>
        <span>in recycling rates. Top countries in Europe such as Germany, recycle </span>
        <span style="font-weight: bold; font-size: 20pt;"> 70% </span>
        <span> of all their wastes while the United States lags behind at </span>
        <span style="font-weight: bold; font-size: 20pt;"> 34%</span>.
      </p>
    </div>
    <div class="column" style="background-color: #c5cddb; float: right;">
      <h2 style="color: green; margin-top: 20px;">Why do we need to Compost?</h2>
      <p style="margin: 30px 40px 20px 40px; float: center; font-size: 20pt;">
        <span> Recycling is important because extensive amounts of waste can have </span>
        <span style="font-weight: bold; font-size: 20pt;">  negative </span>
        <span>  impacts on our environment. In the recent years where recycling has become more prevalent, the US consistently ranks </span>
        <span style="font-weight: bold; font-size: 20pt;"> last </span>
        <span>in recycling rates. Top countries in Europe such as Germany, recycle </span>
        <span style="font-weight: bold; font-size: 20pt;"> 70% </span>
        <span> of all their wastes while the United States lags behind at </span>
        <span style="font-weight: bold; font-size: 20pt;"> 34%</span>.
      </p>
    </div>

    <div class="parallax2"></div>
      <div class="content">
        <h2><font color="317c0c">Our Mission</font></h2>
        <p class="index_paragraph">Our mission is to help promote awareness about recycling and educate people on how to dispose of any item. Learning how to reduce, reuse, and recycle correctly are steps we can take to help make our Earth a greener, cleaner place.</p>
      </div>
      <div class="parallax3"></div>
    </div>
</body>
</html>
