{% extends "templates/base.html" %}
{% block title%}Home{% endblock %}
{% block classActiveHome %}class="active"{% endblock %}
{% block body %}
<div class="parallax"></div>

<div class="content">

    <h2>Heading</h2>
    <p>
        On average, Americans drink one beverage from an aluminum can every day.But we recycle just over 49% of the cans we use.

        Since the cans are 100% recyclable, we could drastically reduce the energy needed to produce brand new cans simply by recycling our empties.

        An aluminum can is able to be returned to the shelf, as a new can, as quickly as 60 days after it's put into your recycling container.

        Coast-to-coast, there are about 10,000 locations that buy aluminum, making it easy for Americans to redeem their used beverage cans for cash. In fact, recycling aluminum cans is a $1 billion/year industry in this country.

        Recycling one aluminum can saves enough energy to run a television for three hours.
    </p>
</div>

<div class="parallax2"></div>
<div class="content">
    <h2>Heading 2</h2>
    <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>

</div>
{% endblock %}