<!doctype html>
<html>
<head>
    <title>Snap-Cycle</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtJZzxdvPjrj_gwbU8d8kPDI9OI5HUO9c&libraries=places"></script>
    <script src="/js/googlemaps.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <!-- <style>
        body {
            background-image: url("https://cdn.pixabay.com/photo/2014/04/05/11/20/green-315275_960_720.jpg");
        }
    </style> -->
</head>
<body>
    <div class="header">
        <!-- <h1 id="location">Locations</h1> -->
        <div id="banner"><img src="https://pbs.twimg.com/media/Di_BMy5UwAAJf3q.jpg"></div>

    </div>
    <ul class="topnav" id="navbar" style="margin-top: 0px; margin-bottom: 0px;">
        <li><a href="/" href="javascript:void(0)">Home</a></li>
        <li><a class="active" href="/location" href="javascript:void(0)">Locations</a></li>
        <li><a href="/reviews" href="javascript:void(0)">Review</a></li>
        <li><a href="/aboutus" href="javascript:void(0)">About Us</a></li>

        <div class="search-container">
            <form method="POST" action="/searchresult">
                <input type="text" placeholder="Search for item.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

    </ul>
    <h2 style="padding: 30px 0 10px 0; color: green;">Find Local Drop-Off Locations</h2>
    <!-- <div class="zip"> Enter Zip Code: <input type="text" placeholder="55555" id="zip_box">
    <button id="zip_box2" type="submit"><i class="fa fa-search"></i></button> -->
    <div class="zip"> Enter Zip Code: <input id="zip_box" placeholder="#####"><button id="go" style="height: 25px;">Go</button></div>
    <div id="map" style="height: 500px; width: 100%; margin: 50px 10px 50px 10px;"></div>
</body>
</html>
