<!DOCTYPE html>
<html>
<head>
    <title>Feedback | Snap-Cycle</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <!-- <style>
    body{
      background-image: url("https://images.unsplash.com/photo-1481761289552-381112059e05?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d0a3fdab42a5bf43712c684cfbc93397&auto=format&fit=crop&w=1722&q=80");
    }
    </style> -->
</head>
<body>
  <div class="header">
    <!-- <img src='/css/snapcycle.jpg'> -->
    <!-- <img id="logo" src="/css/snapcycle.jpg">  -->
    <div id="banner"><img src="https://pbs.twimg.com/media/Di_BMy5UwAAJf3q.jpg"></div>
    <!-- <h1 id="review"> Review</h1> -->
  </div>
    <ul class="topnav" id="navbar" style="margin-top: 0px; margin-bottom: 0px;">
      <li><a href="/" href="javascript:void(0)">Home</a></li>
      <li><a href="/location" href="javascript:void(0)">Locations</a></li>
      <li><a class="active" href="/reviews" href="javascript:void(0)">Review</a></li>
      <li><a href="/aboutus" href="javascript:void(0)">About Us</a></li>

      <div class="search-container">
      <form method="POST" action="/searchresult">
        <input type="text" placeholder="Search for item.." name="search">
        <button id="search_button" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </ul>
    <h3 style="color: green;"><font>Write a Review</font></h3>

    <div class="container">
    <form method="post">
      <div class="row">
        <div class="col-25">
          <label for="fname">First Name</label>
        </div>
        <div class="col-75">
          <input type="text" class="input" required name="first_name" placeholder="Your first name..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Last Name</label>
        </div>
        <div class="col-75">
          <input type="text" class="input" required name="last_name" placeholder="Your last name..">
        </div>
        </div>
      <div class="row">
        <div class="col-25">
          <label for="email">Email Address</label>
        </div>
        <div class="col-75">
          <input type="text" class="input" required name="email" placeholder="example@email.com">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="country">Rating</label>
        </div>
        <div class="col-75">
          <select id="rating" required name="rating">
            <option value="default">Select Value</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="country">Visit</label>
        </div>
        <div class="col-75">
          <select id="rating" required name="visit_frequency">
            <option value="default">Select Value</option>
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
            <option value="never">Never</option>
            <option value="other">Other</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Additional comments</label>
        </div>
        <div class="col-75">
          <textarea id="subject" name="message_body" placeholder="Write something.." style="height:200px" required></textarea>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
    <h3 style="color: green;">User Reviews:</h3>

  <span class="heading" style="margin-left: 10px;">User Rating</span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <p style="margin-left: 10px;">{{ mean }} average based on {{ totalReviews }} reviews.</p>
  <hr style="border:3px solid #f1f1f1">

  <div class="row">
    <div class="side">
      <div style="margin-left: 20px;">5 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-5"></div>
      </div>
    </div>
    <div class="side right">
      <div style="margin-right: 20px;">{{ fiveStar }}</div>
    </div>
    <div class="side">
      <div style="margin-left: 20px;">4 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-4"></div>
      </div>
    </div>
    <div class="side right">
      <div style="margin-right: 20px;">{{ fourStar }}</div>
    </div>
    <div class="side">
      <div style="margin-left: 20px;">3 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-3"></div>
      </div>
    </div>
    <div class="side right">
      <div style="margin-right: 20px;">{{ threeStar }}</div>
    </div>
    <div class="side">
      <div style="margin-left: 20px;">2 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-2"></div>
      </div>
    </div>
    <div class="side right">
      <div style="margin-right: 20px;">{{ twoStar }}</div>
    </div>
    <div class="side">
      <div style="margin-left: 20px;">1 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-1"></div>
      </div>
    </div>
    <div class="side right">
      <div style="margin-right: 20px; margin-bottom: 80px;">{{ oneStar }}</div>
    </div>
  </div>
<!--
  <div class="container">
  <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
  <p>Hello. How are you today?</p>
  <span class="time-right">11:00</span>
</div>

<div class="container darker">
  <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9017084ac611b76fb7506ccc54d854ac&auto=format&fit=crop&w=800&q=60" alt="Avatar" class="right" style="width:100%;">
  <p>Hey! I'm fine. Thanks for asking!</p>
  <span class="time-left">11:01</span>
</div>

<div class="container">
  <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
  <p>Sweet! So, what do you wanna do today?</p>
  <span class="time-right">11:02</span>
</div>

  <div class="container darker">
    <img src="/w3images/avatar_g2.jpg" alt="Avatar" style="width:100%;">
    <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    <span class="time-left">11:05</span>
  </div>
 -->

  <h3 style="color: green;">Comments:</h3>
  {% for i in reviews %}
  <div class="review">
    <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9017084ac611b76fb7506ccc54d854ac&auto=format&fit=crop&w=800&q=60" alt="Avatar" class="right" style="width:100%;">
    <p style="font-weight: bold; margin: 0 0 0 10px; font-size: 30px;">{{ i.first_name }} {{ i.last_name }}</p>
    <p style=" margin-top: 20px;">{{i.message}}</p>
    <span class="time-right">{{i.date}}</span>
  </div>
  <!-- <p style="font-weight: bold; margin: 0 0 0 10px; font-size: 30px;">{{ i.first_name }} {{ i.last_name }}</p>
    <p style="margin: 0 0 0 20px; font-size: 10pt;">{{ i.date }}</p>
  <blockquote><pre><p> >> {{ i.message }}</p></pre></blockquote> -->
  {% endfor %}
</html>
