<!DOCTYPE html>
<html>
<head>
    <title>Feedback | Snap-Cycle</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body{
      background-image: url("https://cdn.pixabay.com/photo/2014/04/05/11/20/green-315275_960_720.jpg");
    }
    </style>
</head>
<body>
  <div class="header">
    <!-- <img src='/css/snapcycle.jpg'> -->
    <!-- <img id="logo" src="/css/snapcycle.jpg">  -->
    <div id="banner"><img src="https://pbs.twimg.com/media/Di_BMy5UwAAJf3q.jpg"></div>
    <!-- <h1 id="review"> Review</h1> -->
  </div>
    <ul class="topnav" id="navbar" style="margin-top: 0px; margin-bottom: 0px;">
      <li><a href="/" href="javascript:void(0)">Home</a></li>
      <li><a href="/location" href="javascript:void(0)">Locations</a></li>
      <li><a class="active" href="/reviews" href="javascript:void(0)">Review</a></li>
      <li><a href="/aboutus" href="javascript:void(0)">About Us</a></li>

      <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button id="search_button" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </ul>
    <h3><font color="#ffffff">Write a Review</font></h3>

    <div class="container">
    <form method="post">
      <div class="row">
        <div class="col-25">
          <label for="fname">First Name</label>
        </div>
        <div class="col-75">
          <input type="text" class="input" required name="first_name" placeholder="Your first name..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Last Name</label>
        </div>
        <div class="col-75">
          <input type="text" class="input" required name="last_name" placeholder="Your last name..">
        </div>
        </div>
      <div class="row">
        <div class="col-25">
          <label for="email">Email Address</label>
        </div>
        <div class="col-75">
          <input type="text" class="input" required name="email" placeholder="example@email.com">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="country">Rating</label>
        </div>
        <div class="col-75">
          <select id="rating" required name="rating">
            <option value="default">Select Value</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="country">Visit</label>
        </div>
        <div class="col-75">
          <select id="rating" required name="visit_frequency">
            <option value="default">Select Value</option>
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
            <option value="never">Never</option>
            <option value="other">Other</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Additional comments</label>
        </div>
        <div class="col-75">
          <textarea id="subject" name="message_body" placeholder="Write something.." style="height:200px" required></textarea>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
    <h1>What other people are saying:</h1>
    {% for i in reviews %}
    <h1>{{ i.first_name }} {{ i.last_name }} on {{ i.date }}</h1>
    <blockquote><pre>{{ i.message }}</pre></blockquote>
    {% endfor %}
</html>
